#!/bin/bash
sudo apt update
sudo apt install -y git zsh vim python3-dev python3-pip python3-setuptools curl wget thefuck tmux xsel ruby-dev
gem install --user-install -n $HOME/.local/bin colorls

# install bat
if ! [ -x "$(command -v bat)" ]
then
    TEMP_DEB="$(mktemp)"
    wget -O "$TEMP_DEB" 'https://github.com/sharkdp/bat/releases/download/v0.21.0/bat-musl_0.21.0_amd64.deb'
    sudo dpkg -i "$TEMP_DEB"
    rm -f "$TEMP_DEB"
fi

# install mcfly
if ! [ -x "$(command -v mcfly)" ]
then
    curl -LSfs https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly --to $HOME/.local/bin
fi


{{- if .pyenv }}

if [ ! -d "$HOME/.pyenv" ]
then
    echo "INSTALLING PYENV"
    sudo apt install -y make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
        libsqlite3-dev llvm libncursesw5-dev xz-utils tk-dev libxml2-dev \
        libxmlsec1-dev libffi-dev liblzma-dev 
    curl https://pyenv.run | bash
fi
{{- end }}
{{- if .poetry }}

if ! [ -x "$(command -v poetry)" ]
then
    echo "INSTALLING POETRY"
    curl -sSL https://install.python-poetry.org | python - --preview
fi
{{- end }}
{{- if .rust }}

if ! [ -x "$(command -v cargo)" ]
then
    echo "INSTALLING RUST"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi
{{- end }}
{{- if .nodenv }}

if ! [ -x "$(command -v nodenv)" ]
then
    curl -fsSL https://raw.githubusercontent.com/nodenv/nodenv-installer/master/bin/nodenv-installer | bash
fi
{{- end }}
{{- if .rbenv }}

if ! [ -x "$(command -v rbenv)" ]
then
    curl -fsSL https://github.com/rbenv/rbenv-installer/raw/HEAD/bin/rbenv-installer | bash
fi
{{- end}}
{{- if .golang }}

if ! [ -x "$(command -v goenv)" ]
then
    git clone https://github.com/syndbg/goenv.git ~/.goenv
fi
{{- end}}

if [ $(which zsh) != $SHELL ]
then
    chsh -s $(which zsh)
fi
