#!/bin/bash
if [ -x "$(command -v brew)" ]
then
    brew update
    brew install git thefuck tmux 
elif [ -x "$(command -v apt)" ]
then
    sudo apt update
    sudo apt install -y git zsh vim python3-dev python3-pip python3-setuptools curl wget thefuck tmux xsel ruby-dev
elif [ -x "$(command -v yay)" ]
then
    yay --needed -S git zsh vim curl wget thefuck tmux xsel ruby
fi
gem install --user-install -n $HOME/.local/bin colorls

# install bat
if ! [ -x "$(command -v bat)" ]
then
    if [ -x "$(command -v brew)" ]
    then
        brew install bat
    elif [ -x "$(command -v apt)" ]
    then
        TEMP_DEB="$(mktemp)"
        wget -O "$TEMP_DEB" 'https://github.com/sharkdp/bat/releases/download/v0.21.0/bat-musl_0.21.0_amd64.deb'
        sudo dpkg -i "$TEMP_DEB"
        rm -f "$TEMP_DEB"
    elif [ -x "$(command -v yay)" ]
    then
        yay -S bat
    fi
fi


{{- if .pyenv }}

if [ ! -d "$HOME/.pyenv" ]
then
    echo "INSTALLING PYENV"
    if [ -x "$(command -v brew)" ]
    then
        brew install pyenv
    else
        if [ -x "$(command -v apt)" ]
    then
            sudo apt install -y make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
                libsqlite3-dev llvm libncursesw5-dev xz-utils tk-dev libxml2-dev \
                libxmlsec1-dev libffi-dev liblzma-dev 
        elif [ -x "$(command -v yay)" ]
        then
            yay --needed -S base-devel openssl zlib xz tk
        fi
        curl https://pyenv.run | bash
    fi
fi
{{- end }}
{{- if .poetry }}

if ! [ -x "$(command -v poetry)" ]
then
    echo "INSTALLING POETRY"
    curl -sSL https://install.python-poetry.org | python -
fi
{{- end }}
{{- if .rust }}

if ! [ -x "$(command -v cargo)" ]
then
    echo "INSTALLING RUST"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi
{{- end }}
{{- if .nodenv }}

if ! [ -x "$(command -v nodenv)" ]
then
    echo "INSTALLING NODENV"
    curl -fsSL https://raw.githubusercontent.com/nodenv/nodenv-installer/master/bin/nodenv-installer | bash
fi
{{- end }}
{{- if .rbenv }}

if ! [ -x "$(command -v rbenv)" ]
then
    echo "INSTALLING RBENV"
    curl -fsSL https://github.com/rbenv/rbenv-installer/raw/HEAD/bin/rbenv-installer | bash
fi
{{- end }}
{{- if .golang }}

if ! [ -x "$(command -v goenv)" ]
then
    echo "INSTALLING GOENV"
    git clone https://github.com/syndbg/goenv.git ~/.goenv
fi
{{- end }}

if [ $(which zsh) != $SHELL ]
then
    chsh -s $(which zsh)
fi

